body {
    background-color: rgb(34, 34, 34);
    color: white;
    color: firebrick;
}

.wrapper {
    margin: 0 auto;
    width: 80%;
}

.hidden {
    position: fixed;
    right: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
}

.display {
    position: fixed;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    padding: 50px;
}

.show {
    transform: translateX(-100%);
}